.sidebar {
    float: left;
    height: 110px;
}

.inner-container2 {
    float: left;
    height: 110px;
    margin-left: 12px;
    width: 91.5%;
}

.inner-container {
    margin: 12px 0 12px 0;
}

.main {
    margin-bottom: 8px;
}
.footer {
    margin-top: 14px;
}

.container {
    background-color: rgb(255, 77, 77);
    padding: 12px;
    height: 220px;
    overflow:visible;
}

.child {
    text-align: center;
    padding: 16px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 138, 138);
}